* {
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

header {
    display:flex;
    justify-content: center;
    color:black;
    background-color: aquamarine;
    flex-direction: column;
}

.picture {
    padding: 10px;
    width: 10%;
    height: 10%;
    min-width: 200px;
    min-height: 200px;
    display: flex;
    flex-wrap: wrap
}

nav ul {
    display:flex;
    justify-content: space-between;
    min-width: 200px;
    list-style: none;
}

.container {
    position: relative;
}

.construction1 {
    width: 50%;
    height: 10%;
}

.construction2{
    width: 40%;
    height: 8%;
}

section ul {
    display: flex;
    justify-content: space-between;
    color: black;
    background-color: aquamarine;
    flex-direction: row;
    list-style: none;
}

@media screen and (max-width: 1000px) {
    .construction1 {
        width: 50%;}
    .construction2 {
        width: 50%;
    }
}

@media screen and (max-width: 780px) {
    .construction1 {
        width: 20%;
    }
    .construction2 {
        width: 20%;
    }
}

